{% extends 'core/base.html' %}

{% load static %}


<!DOCTYPE html>
<html lang="es">

  <section class="page-section clearfix">
    <div class="container">
      <div class="c">
        <img class="c-img img-fluid mb-3 mb-lg-0 rounded" 
            src="{% static 'core/img/c.png' %}" alt="">
        <div class="c-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">PROSALDENT</span>
            <span class="section-heading-lower">Empresa de desarrollo de software</span>
          </h2>
          <p class="mb-3">Tenemos los mejores desarrolladores de software del mundo, si tienes un consultorio odontologico pero no tienes tu propio aplicativo o portal web, nosotros podemos ayudarte.
          </p>
          <div class="c-button mx-auto">
            <a class="btn btn-primary btn-xl" href="Visita.html">VISÍTANOS</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Mensaje -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Compromiso total</span>
              <span class="section-heading-lower">Garantizado</span>
            </h2>
            <p class="mb-0">Le daremos su software tal como quiere y le daremos 1 año de garantia en el cual se incluyen actualizaciones y correccion de algunos errores, asi como modificaciones que usted desee.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  </body>

</html>
