


{% load static %}

<!DOCTYPE html>
<html lang="es">

  <!-- Bootstrap -->
<link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Fuentes -->
<link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

<!-- Estilos -->
<link href="{% static 'core/css/estilo.css' %}" rel="stylesheet">

<!-- Bootstrap -->
<script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <body>
    <h1 class="site-heading text-center text-blue d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">PROTECCION DE LA SALUD DENTAL</span>
      <span class="site-heading-lower">PROSALDENT</span>
    </h1>

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>PROSALDENT</title>
    
    </head>

    
      <div class="container-fluid">
        <div class="row">
          <!--Menu de Navegacion Dashbort-->
          <div class="barra-lateral col-12 col-sm-auto">
            <div class="logo">
              <h2>MENU</h2>
            </div>
    <div class="container-fluid">
      <div class="row">
      <div class="menu d-flex d-sm-block justify-content-center flex-wrap">
    
        <a href="{% url 'Inicio' %}">INICIO</a>   
        </a>
        <a href="{% url 'Clientes' %}">CLIENTES</a>
        </a>
        <a href="{% url 'Visita' %}">VISÍTANOS</a>
        </a>
        <a href="{% url 'Contacto' %}">CONTACTO</a>
        </a>
        <a href="{% url 'Historia' %}">HISTORIA</a>
        </a>
      </div>
    </div>

<section class="page-section cta">
      <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" 
              src="{% static 'core/img/dr.png' %}" alt="">
              <div class="about-heading-content">
                <div class="row">
                  <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                      <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Te esperamos</span>
                <span class="section-heading-lower">Visítanos</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Lunes a viernes
                  <span class="ml-auto">7:00am - 6:00pm</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sábados
                  <span class="ml-auto">7:00am - 12:30pm</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Domingos
                  <span class="ml-auto">Cerrado</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>Av 3 # 1-81 Urb. Juana Paula</strong>
                  <br>
                  Los Patios
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Llámanos y pregunta</em>
                </small>
                <br>
                +57 3106107274
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Pié de página -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        {{test}}
        <p class="m-0">
          {% if tw_Prosaldent %}
          <a href="{{tw_Prosaldent}}" class="link">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          {% endif %}
          {% if FB_Prosaldent %}
          <a href="{{FB_Prosaldent}}" class="link">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          {% endif %}
          {% if Ig_Prosaldent %}
          <a href="{{Ig_Prosaldent}}" class="link">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          {% endif %}
      </p>
        <p class="m-0 mbt">
        	<a href="Muestra.html" class="link">Política de privacidad</a> ·
        	<a href="Muestra.html" class="link">Aviso legal</a> ·
        	<a href="Muestra.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; PROSALDENT 2022</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src=" { % static 'core/vendor/jquery/jquery.min.js' % } "></script>
    <script src=" { % static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' % } "></script>

 
  </body>

</html>
